<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfplatepoha.jisho">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Jisho"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="73c1a606b8ec6031c5b79954bcc0ca282bc666aa" />

        <activity
            android:name=".details.DetailsAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lists.listactivity.ListsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleFragmentActivity"
            android:screenOrientation="portrait" />

        <service android:name=".UpdateDBService" />

        <!-- <service android:name=".DownloadService" /> -->
        <!-- <service android:name=".KanjiStrokesService" /> -->

        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".v2.detail.DetailsActivity" />
        <activity android:name=".lists.listdetails.ListDetailActivity" />
        <activity android:name=".kanji.KanjiDetailActivity"></activity>
    </application>

</manifest>